* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	padding: 30px 0;
	border-top: 4px solid pink;
}
.photobg {
	padding: 200px 0;
	background: url("img/stockphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.photobg-text {
	color: #444;
	width: 68%;
	line-height: 40px;
	background: #fff;
	padding: 10px 15px;
}
.container {
	max-width: 1170px;
	margin: auto;
}
